/* 
Theme : Restaurant (Happy Treats)
version :1.0 
*/

/* CSS for all */
:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container
{

    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive
{
    width: 100%;
}

.txt-right
{
    text-align: right;
}

.txt-center
{
    text-align: center;
}

.clearfix
{
    clear: both;
    float: none;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    color: orange;
}

.btn
{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 7px;
}

.btn-primary
{
    background-color: blue;
    color: white;
    cursor: pointer;
}

.btn-primary:hover
{
    background-color: red;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background:lightsteelblue;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.logo{
    width: 10%;
    float: left;
}
header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar
{
    padding: 2%;
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons #menu-bars{
    display: none;
}

/*css for contact*/
.contact{
    padding: 9%;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    padding: 20px;
  }

/*CSS for social margin: 50px 10px;*/

.Social
{
    margin-top: -20%;
    margin-block: 22ch;/*15*/
    padding: auto;
}

.Social ul
{
    margin-top: -26%;
    list-style-type: none;
}

.Social ul li
{
    display: inline;
    padding: 1%;
}

/* CSS for FOOTER */

.footer
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    margin-top: -29%;
    color: white;
}
